<div class="row justify-content-md-center mt-5">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-4">Sign In</h5>
                <form>
                    <p *ngIf="validationErrors.length > 0" class="text-center">
                        <small class="text-danger">{{ validationErrors }}</small>
                    </p>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email" name="email" required />
                        <div *ngIf="validationErrors?.email != undefined" class="flex flex-col">
                            <small class="text-danger">{{ validationErrors.email[0] }}</small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required />
                        <div *ngIf="validationErrors?.password != undefined" class="flex flex-col">
                            <small class="text-danger">{{ validationErrors.password[0] }}</small>
                        </div>
                    </div>
                    <div class="d-grid gap-2">
                        <button
                            (click)="loginAction()"
                            type="button"
                            class="btn btn-primary btn-block"
                            [disabled]="isSubmitting || (email.length <= 0 || password.length <= 0)"
                        >
                            Login
                        </button>
                        <p class="text-center">Don't have an account? <a routerLink="/register">Register here</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
